<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/form.css}" rel="stylesheet"/>
</head>
<body>
<div id="search">
    <div id="SearchContainer" class="container">
        <div id="search-row" class="row justify-content-center align-items-center">
            <div id="search-column" class="col-md-6">
                <div id="search-box" class="col-md-12">
                    <form class="form" action="/search" method="POST">
                        <h3 class="text-center">My Google</h3>
                        <div class="form-group">
                            <label for="query" class="text-secondary">Enter text to search</label><br>
                            <input type="text" name="query" id="query" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-md">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>