<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/form.css}" rel="stylesheet"/>
</head>
<body>
<script th:scr="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

<div id="index">
    <div id="IndexContainer" class="container">
        <div id="index-row" class="row justify-content-center align-items-center">
            <div id="index-column" class="col-md-6">
                <div id="index-box" class="col-md-12">
                    <form class="form" action="/index" method="POST">
                        <h3 class="text-center">Index</h3>
                        <div class="form-group">
                            <label for="url" class="text-secondary">Url to be indexed</label><br>
                            <input type="text" name="url" id="url" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="indexDepth" class="text-secondary">Indexed depth</label><br>
                            <input type="number" name="indexDepth" id="indexDepth" class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary btn-md">Index</button>
                    </form>

                    <div th:if="${error != null}" class="mt-5 alert alert-danger alert-dismissible fade show" role="alert">
                        <p th:text="${error}"></p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>