<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search result</title>
    <link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/form.css}" rel="stylesheet"/>
</head>
<body>
<script th:scr="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

<div id="search">
    <div id="searchContainer" class="container">
        <div id="search-row" class="row justify-content-center align-items-center">
            <div id="search-column" class="col-md-6">
                <div id="search-box" class="col-md-12">
                    <h3 id="title" class="text-secondary">Search Result</h3>
                    <div id="result">
                        <p th:each="searchResult, i : ${searchResults}" class="dropdown-item text-info" type="button">
                            <a th:href="${searchResult.url}" th:text=" ${searchResult.title}"></a><br>
                            <a th:href="${searchResult.url}" th:text=" ${searchResult.url}"></a><br>
                        </p>
                    </div>
                    <div th:if="${error != null}" class="mt-5 alert alert-danger alert-dismissible fade show" role="alert">
                        <p th:text="${error}"></p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>